# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Node (if build tools are added later)
node_modules/
npm-debug.log
package-lock.json

# Composer (if added later)
vendor/

# WordPress
*.log

# Zip files (voorkomt dat je per ongeluk je eigen zips uploadt)
*.zip